.container {
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

/* make this rule trigger only if there is an element.style background-image and it is light mode, do not select/target the app-tag class */

:root, #app:not(.app-tag)[style*="background-image"] {
    --highlight-primary: rgba(51,103,214,0.00) !important;
    --highlight-secondary: rgba(4, 30, 72, 0.00) !important;
    --text-title: #fff !important;
}



body .search-bar input {
    background-color: rgba(213, 207, 207, 0.10) !important;
}

/* if #app is-dark then target body h2 span, use :has on the #app div to check if it has the class is-dark, if so target (body h2 span)*/
body h2 span {
    color: #4285f4 !important;
}

body #bighead {
    /*#12131a47*/
    background-color: rgba(18, 19, 26, 0.0) !important;
}

body #app .card {
    background: rgba(13, 14, 19, 0.717) !important;
}