{% extends 'base2.html' %}

{% block content %}
<div class="app-list-container">
    <h2>Application List</h2>
    <div class="app-tags-container">
        {% for tag in app_tags %}
            <div class="app-tag-column" id="{{ tag }}">
                <h3>{{ tag }}</h3>
                <ul>
                    {% for app in apps if app.tag == tag %}
                        <li>
                            <a href="{{ url_for('render_app', app_name=app.name) }}">{{ app.name }}</a>
                            <img src="{{ url_for('get_app_image', app_name=app.name) }}" alt="app image" width="200" height="200">
                            <p>{{ app.desc }}</p>
                            <form action="{{ url_for('delete_app', app_name=app.name) }}" method="POST">
                                <input type="submit" value="Delete App">
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}