{% extends 'base.html' %}

{% block content %}
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.ico') }}">
<div class="app-container">
    <div id="alert-box" class="alert alert-danger d-block" role="alert" style="display: none;">
        Invalid script type, must be a .py file. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="app-image-container">
        <img src="{{ url_for('get_app_image', app_name=app_data.name) }}" alt="app image" width="200" height="200">
    </div>
    <div class="app-delete-container">
        <form action="{{ url_for('delete_app', app_name=app_data.name) }}" method="POST">
            <input type="submit" value="Delete App">
        </form>
    </div>
    <div class="app-name-container">
        <h2>{{ app_data.name.title().replace('_', ' ') }}</h2>
    <div class="app-desc-container">
        <p>{{ app_data.desc }}</p>
    </div>
    <div class="user-input-container">
        <form action="{{ url_for('upload_script', app_name=app_data.name) }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="script">
            <input type="submit" value="Upload">
        </form>
    </div>
    <div class="run-script-container">
        <form action="{{ url_for('run_script', app_name=app_data.name) }}" method="POST">
            <h3 style="font-weight: bold;font-size: 20px;font-family: monospace;padding-top: 10px;padding-bottom: 5px;">Script Arguments</h3>
            <p style="font-size: 15px;font-family: monospace;">Enter the arguments for the script, separated by a space. If no arguments are needed, leave this field blank.</p>
            <input type="text" name="script_arguments" placeholder="Script Arguments:">
            <input type="submit" value="Run Script">
        </form>
    </div>
    <!-- Download output files (zipped) -->
    <div class="download-output-container">
        <form action="{{ url_for('download_script_output', app_name=app_data.name) }}" method="GET">
            <input type="submit" value="Download Output">
        </form>
    </div>
    <!-- Terminal-like window for the script output and script errors -->
    <div class="script-output-container">
        <h3 style="font-weight: bold;font-size: 20px;font-family: monospace;padding-top: 10px;padding-bottom: 5px;">Script Output</h3>
        <!-- Render the script output using the get_script_log function, make a get request to it --> 
        <p> {{ get_script_log(app_data.name).replace('STDOUT:', '<p style="color: green;">STDOUT:').replace('STDERR:', '<p style="color: red;">STDERR:')|safe }} </p>
    </div>
</div>


<script>
    $(".close").on("click", function() {
        $("#alert-box").hide();
    });
</script>

{% endblock %}
