{% extends 'base.html' %}

{% block content %}
<div class="app-container">
    <div id="alert-box" class="alert alert-danger d-block" role="alert" style="display: none;">
        Invalid script type, must be a .py file. 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="app-image-container">
        <img src="{{ url_for('get_app_image', app_name=app_data.name) }}" alt="app image" width="200" height="200">
    </div>
    <div class="app-delete-container">
        <form action="{{ url_for('delete_app', app_name=app_data.name) }}" method="POST">
            <input type="submit" value="Delete App">
        </form>
    </div>
    <div class="app-name-container">
        <h2>{{ app_data.name }}</h2>
    <div class="app-desc-container">
        <p>{{ app_data.desc }}</p>
    </div>
    <div class="user-input-container">
        <form action="{{ url_for('upload_script', app_name=app_data.name) }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="script">
            <input type="submit" value="Upload">
        </form>
    </div>
    <div class="run-script-container">
        <form action="{{ url_for('run_script', app_name=app_data.name) }}" method="POST">
            <input type="submit" value="Run Script">
        </form>
    </div>
</div>


<script>
    $(".close").on("click", function() {
        $("#alert-box").hide();
    });
</script>

{% endblock %}
